body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  margin-top: 80px;
}

button {
  display: block;
  margin: 15px auto;
  padding: 12px 18px;
  border: none;
  background: #00c853;
  color: white;
  border-radius: 8px;
  font-size: 16px;
}
